<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>139.16.0.171715</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {806.00000476837158, 1132}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>FontInfo</key>
		<dict>
			<key>Font</key>
			<string>IPAexGothic</string>
			<key>Size</key>
			<real>36</real>
		</dict>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>image fill</key>
			<dict>
				<key>ImageSizing</key>
				<integer>0</integer>
				<key>Offset</key>
				<string>{-0.56319968078109073, 0.27014010325822846}</string>
				<key>Scale</key>
				<real>0.54346728324890137</real>
			</dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2015-02-19 19:11:20 +0000</string>
	<key>Creator</key>
	<string>Minae Nakasone</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{451.360107421875, 966}, {79.59356689453125, 163}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>309</integer>
			<key>ImageID</key>
			<integer>16</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{479, 1012}, {192, 120}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>311</integer>
			<key>ImageID</key>
			<integer>18</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{617.36010742187545, 983}, {93.953094777277698, 142}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>310</integer>
			<key>ImageID</key>
			<integer>17</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{376, 573}, {413, 294}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>308</integer>
			<key>ImageID</key>
			<integer>15</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{80.25, 623}, {215, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>307</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.852077</string>
						<key>g</key>
						<string>0.923701</string>
						<key>r</key>
						<string>0.859889</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg932\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset128 HiraMaruProN-W4;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\sl360\slmult1\pardirnatural\qc

\f0\fs48 \cf0 \'83\'4e\'83\'89\'83\'58\'90\'7d}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{463.836669921875, 526.7349853515625}, {235, 33.764991760253906}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>306</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.412519</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.962104</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg932\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset128 HiraMaruProN-W4;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\sl360\slmult1\pardirnatural\qc

\f0\fs48 \cf0 \'83\'56\'81\'5b\'83\'50\'83\'93\'83\'58\'90\'7d}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{74, 182}, {271, 41}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.749243</string>
						<key>r</key>
						<string>0.757398</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg932\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset128 HiraMaruProN-W4;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\sl360\slmult1\pardirnatural\qc

\f0\fs48 \cf0 \'83\'86\'81\'5b\'83\'58\'83\'50\'81\'5b\'83\'58\'90\'7d}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{27.750001907348633, 671.75}, {320, 279}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>293</integer>
			<key>ImageID</key>
			<integer>14</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{17, 629.75}, {341.5, 468.25}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>296</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.502155</string>
						<key>g</key>
						<string>0.867124</string>
						<key>r</key>
						<string>0.421421</string>
					</dict>
				</dict>
				<key>image fill</key>
				<dict>
					<key>ImageSizing</key>
					<integer>2</integer>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg932\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;\f1\fnil\fcharset128 HiraKakuProN-W3;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs18 \cf0 \
\
\
\
\
\
\
\
\
\
\
\
\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f1 \cf0 \
\
\
\
\
\
\
\'81\'45\
\
\

\fs22 \
\
\
\'8f\'e3\'82\'cc\'90\'7d\'82\'cd\'83\'41\'83\'76\'83\'8a\'82\'cc\'8d\'5c\'91\'a2\'82\'f0\'95\'5c\'82\'b5\'82\'bd\'82\'e0\'82\'cc\'82\'c5\'82\'a0\'82\'e9\'81\'42\
\
\'81\'45\'82\'bb\'82\'ea\'82\'bc\'82\'ea\'82\'cc\'83\'4e\'83\'89\'83\'58\'82\'cc\'8a\'d6\'8c\'57\'82\'e2\'82\'bb\'82\'cc\'83\'4e\'83\'89\'83\'58\'8e\'a9\'91\'cc\'8b\'40\'94\'5c\'82\'f0\'8e\'a6\'82\'b5\'82\'c4\'82\'a2\'82\'e9\'81\'42\
\
\'81\'45\'90\'7d\'92\'86\'82\'cc\'90\'94\'92\'6c\'82\'cd\'81\'41\'97\'e1\'82\'a6\'82\'ce\'83\'4c\'83\'83\'83\'93\'83\'70\'83\'58\'83\'7d\'83\'62\'83\'76\'82\'c6\'8a\'65\'8a\'77\'95\'94\'93\'8f\'82\'cc\'8f\'ea\'8d\'87\
\'83\'4c\'83\'83\'83\'93\'83\'70\'83\'58\'83\'7d\'83\'62\'83\'761\'82\'c2\'82\'c9\'91\'ce\'82\'b5\'82\'c4\'81\'41\'8a\'65\'8a\'77\'95\'94\'93\'8f\'82\'cd7\'8c\'c2\'82\'a0\'82\'e9\'82\'bd\'82\'df1\'91\'ce7\'82\'c6\'82\'a2\'82\'a4\'82\'b1\'82\'c6\'82\'f0\'95\'5c\'82\'b5\'82\'c4\'82\'a2\'82\'e9\'81\'42\
}</string>
			</dict>
			<key>TiledImage</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{486, 309.26498413085938}, {126.89789056777954, 217.47001647949219}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>290</integer>
			<key>ImageID</key>
			<integer>12</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{405.5, 157}, {127.39788818359375, 217.47005397298329}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>289</integer>
			<key>ImageID</key>
			<integer>11</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{586, 157}, {127.39788818359375, 217.47004699707031}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>288</integer>
			<key>ImageID</key>
			<integer>10</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{668.08185291290283, 303}, {126.89789056777954, 217.47001647949219}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>287</integer>
			<key>ImageID</key>
			<integer>6</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{17.750001907348633, 228.5}, {383.49999809265137, 267}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>286</integer>
			<key>ImageID</key>
			<integer>8</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{366, 537.49997711181641}, {432.81640625, 428.50003051757812}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>52</integer>
			<key>ImageID</key>
			<integer>13</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Opacity</key>
			<real>0.30000001192092896</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.296188</string>
						<key>g</key>
						<string>0.907625</string>
						<key>r</key>
						<string>1</string>
					</dict>
				</dict>
				<key>image fill</key>
				<dict>
					<key>ImageSizing</key>
					<integer>2</integer>
					<key>Opacity</key>
					<real>0.30000001192092896</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg932\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;\f1\fnil\fcharset128 HiraKakuProN-W3;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 \
\
\
\
\
\
\
\
\
\
\
\
\
\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural
\cf0 \
\
\
\
\
\
\
\
\
\

\f1 \
 \'83\'41\'83\'76\'83\'8a\'82\'cc\'91\'80\'8d\'ec\'82\'c9\'8a\'d6\'82\'b7\'82\'e9\'8a\'d4\'82\'cc\'82\'e2\'82\'e8\'82\'c6\'82\'e8\'82\'f0\'95\'5c\'82\'b5\'82\'bd\'90\'7d\'81\'42\

\f0 \

\f1 \'81\'45\'91\'53\'91\'cc\'83\'7d\'83\'62\'83\'76\'82\'a9\'82\'e7\'8a\'65\'93\'8f\'82\'cc\'83\'7d\'83\'62\'83\'76\'82\'d6\'82\'cc\'91\'4a\'88\'da\'82\'cc\'82\'e2\'82\'e8\'82\'c6\'82\'e8\'81\'42\
\'81\'45\'82\'bb\'82\'ea\'82\'bc\'82\'ea\'82\'cc\'83\'7d\'83\'62\'83\'76\'82\'a9\'82\'e7\'83\'67\'83\'43\'83\'8c\'8f\'ee\'95\'f1\'95\'5c\'8e\'a6\'82\'cc\'82\'e2\'82\'e8\'82\'c6\'82\'e8\'81\'42
\f0 \

\f1 \'81\'45\'82\'bb\'82\'cc\'91\'bc\'83\'7d\'83\'62\'83\'76\'82\'cd\'8f\'e3\'82\'cc\'90\'7d\'82\'c9\'8d\'da\'82\'b9\'82\'c4\'82\'a2\'82\'c8\'82\'a2\'93\'8f(\'90\'7d\'8f\'91\'8a\'d9\'81\'41\'92\'86\'89\'9b\'90\'48\'93\'b0\'82\'c8\'82\'c7)\'82\'cc\'82\'b1\'82\'c6\'82\'f0\'8e\'a6\'82\'b7\'81\'42}</string>
			</dict>
			<key>TiledImage</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{11.5, 199.5}, {396, 404.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>282</integer>
			<key>ImageID</key>
			<integer>9</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Opacity</key>
			<real>0.070000000298023224</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.742811</string>
						<key>r</key>
						<string>0.62371</string>
					</dict>
				</dict>
				<key>image fill</key>
				<dict>
					<key>ImageSizing</key>
					<integer>2</integer>
					<key>Opacity</key>
					<real>0.070000000298023224</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg932\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;\f1\fnil\fcharset128 HiraKakuProN-W3;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0    \
\
\
\
\
\
\
\
\
\
\
\
\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural
\cf0 \
\
\

\f1 \'81\'40\'81\'40\'81\'40\'81\'40
\f0 \
\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f1\fs26 \cf0 \
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\fs22 \cf0 \
\
\
\
\'82\'b1\'82\'cc\'90\'7d\'82\'cd\'81\'41\'8a\'4f\'95\'94\'82\'a9\'82\'e7\'8c\'a9\'82\'c4\'83\'56\'83\'58\'83\'65\'83\'80\'82\'aa\'82\'c7\'82\'cc\'82\'e6\'82\'a4\'82\'c8\'90\'55\'82\'e9\'95\'91\'82\'a2\'82\'f0\'82\'b7\'82\'e9\'82\'a9\'95\'5c\'82\'b5\'82\'c4\'82\'a2\'82\'e9\'81\'42
\fs26               \

\fs22 \
\'81\'45\'91\'53\'91\'cc\'83\'7d\'83\'62\'83\'76\'82\'a9\'82\'e7\'82\'bb\'82\'ea\'82\'bc\'82\'ea\'82\'cc\'93\'8f\'82\'f0\'91\'49\'91\'f0\'82\'b5\'81\'41\'8d\'58\'82\'c9\'8a\'4b\'91\'77\'82\'f0\'91\'49\'91\'f0\'82\'b7\'82\'e9\'81\'42\
\'81\'45\'8a\'4b\'91\'77\'83\'7d\'83\'62\'83\'76\'82\'cc\'83\'67\'83\'43\'83\'8c\'83\'7d\'81\'5b\'83\'4e\'82\'f0\'83\'5e\'83\'62\'83\'76\'82\'b7\'82\'e9\'82\'c6\'81\'41\'83\'67\'83\'43\'83\'8c\'8f\'ee\'95\'f1\'82\'f0\'95\'5c\'8e\'a6\'82\'b7\'82\'e9\'81\'42\
\'81\'45\'8a\'65\'8a\'4b\'91\'77\'83\'7d\'83\'62\'83\'76\'82\'a9\'82\'e7\'95\'ca\'82\'cc\'8a\'4b\'91\'77\'82\'d6\'88\'da\'93\'ae\'82\'c5\'82\'ab\'82\'e9\'81\'42\
}</string>
			</dict>
			<key>TiledImage</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{403.5, 245.5}, {2, 26}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>284</integer>
			<key>ImageID</key>
			<integer>6</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg932\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 \
}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{40.5, 99}, {338, 97}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>283</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg932\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset128 HiraKakuProN-W3;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 \

\fs26 \'93\'cb\'91\'52\'82\'cc\'82\'db\'82\'f1\'82\'d8(\'95\'a0\'92\'c9)\'82\'c9\'8f\'50\'82\'ed\'82\'ea\'82\'bd\'82\'c6\'82\'ab\'81\'41\
\'82\'c5\'82\'ab\'82\'e9\'82\'be\'82\'af\'82\'b7\'82\'ce\'82\'e2\'82\'ad\'82\'ab\'82\'ea\'82\'a2\'82\'c8\'83\'67\'83\'43\'83\'8c\'82\'f0\'92\'54\'82\'b5\'82\'bd\'82\'a2\'81\'42\
\'82\'bb\'82\'f1\'82\'c8\'82\'a8\'82\'c8\'82\'a9\'82\'cc\'8e\'e3\'82\'df\'82\'c8\'97\'ae\'8b\'85\'91\'e5\'8a\'77\'82\'cc\'8a\'77\'90\'b6\'82\'c9\'91\'97\'82\'e8\'82\'bd\'82\'a2\'83\'41\'83\'76\'83\'8a\'81\'42\
}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{432, 26}, {267, 135}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>25</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Speech Bubble</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg932\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset128 HiraKakuProN-W3;\f1\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs26 \cf0 \'83\'82\'83\'66\'83\'8a\'83\'93\'83\'4f
\f1 L
\f0 \'94\'c7\
      \'8c\'e0\'89\'ae\'81\'40\'93\'ec\'90\'6d\'81\'40\'8e\'52\'8f\'e9\'81\'40\'8b\'60\'8d\'4f\
      \'90\'ec\'8d\'e8\'81\'40\'94\'b9\'96\'e7\'81\'40\'92\'87\'8f\'40\'8d\'aa\'96\'a2\'95\'63
\f1 \

\f0       \'8f\'bc\'96\'7b\'81\'40\'9f\'e4\'8e\'69}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.14999999999999999, 0.14999999999999999}, {0.69999999999999996, 0.69999999999999996}}</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{40, 21}, {339, 72}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>HiraMaruProN-W4</string>
				<key>Size</key>
				<real>24</real>
			</dict>
			<key>ID</key>
			<integer>49</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.447574</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.123231</string>
						<key>g</key>
						<string>0.742428</string>
						<key>r</key>
						<string>1</string>
					</dict>
				</dict>
				<key>image fill</key>
				<dict>
					<key>ImageSizing</key>
					<integer>2</integer>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg932\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset128 HiraMaruProN-W4;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs48 \cf0 \'82\'a8\'83\'67\'83\'43\'83\'8c\'88\'c4\'93\'e0\'83\'7d\'83\'62\'83\'76}</string>
			</dict>
			<key>TiledImage</key>
			<string>YES</string>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>19</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image18.png</string>
		<string>image17.png</string>
		<string>image16.png</string>
		<string>image15.png</string>
		<string>image14.png</string>
		<string>image13.tiff</string>
		<string>image12.png</string>
		<string>image11.png</string>
		<string>image10.png</string>
		<string>image9.png</string>
		<string>image8.png</string>
		<string>image6.png</string>
		<string>image1.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>レイヤー 2</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>レイヤー 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2015-02-22 06:40:08 +0000</string>
	<key>Modifier</key>
	<string>soran</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperName</key>
		<array>
			<string>string</string>
			<string>CF54CF4D-FA3F-45A1-910C-4B458D96D25C</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{842.00000476837158, 1191}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSPrinter</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAlOU1ByaW50ZXIAhIQITlNPYmplY3QAhZKEhIQITlNTdHJpbmcBlIQBKxFCcm90aGVyIERDUC1KNzQwToaG</string>
		</array>
		<key>NSPrinterName</key>
		<array>
			<string>string</string>
			<string>Brother DCP-J740N</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>キャンバス 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>キャンバス 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{-22, 48}, {1233, 730}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<true/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-67, 541}, {941, 591}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>キャンバス 1</string>
				<real>1</real>
				<real>0.5</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
